@font-face {
  font-family: "B-Nazanin-Bold";
  src:
    url("../fonts/B-Nazanin-Bold.ttf.woff") format("woff"),
    url("../fonts/B-Nazanin-Bold.ttf.svg#B-Nazanin-Bold") format("svg"),
    url("../fonts/B-Nazanin-Bold.ttf.eot"),
    url("../fonts/B-Nazanin-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "B-Nazanin-Bold";
}
header {
  height: 6rem;
}
.head-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  margin-bottom: 8rem;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 5%;
  /* margin-right: 1rem; */
  margin-inline-end: 1rem; /* with CSS Logical Property */
}
/* 

html[dir="rtl"] .logo {
  margin-right: 0;
  margin-left: 1rem;
}*/

.head-info {
  /* border-left: 1px solid lightgray; */
  /* padding-left: 0.6rem; */
  /* text-align: left; */
  border-inline-start: 1px solid lightgray;
  padding-inline-start: 0.6rem;
  text-align: start;
}
.head-info p {
  margin-top: 0;
  margin-block-end: 0.3rem;
}
.head-info small {
  font-weight: bold;
}
.section-title {
  background-color: rgba(194, 194, 244, 0.615);
  padding-inline-start: 0.6rem;
  border-inline-start: 5px solid rgb(2, 2, 101);
}
.summary {
  width: 90%;
}
.summary h3 {
  /* text-align: left; */
  text-align: start;
}
.summary p {
  /* text-align: left; */
  text-align: start;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.education {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.dciLogo {
  width: 8rem;
  /*margin-right: 20px;*/
  margin-inline-end: 20px;
  /*float: left;*/
  float: inline-start;
}

/*
html[dir="rtl"] .dciLogo{
    margin-right: 0;
    margin-left: 20px;
    float: right;
}
*/

@media screen and (min-width: 768px) {
  .head-top {
    margin-inline-start: 12rem;
    margin-inline-end: 12rem;
  }
  .summary {
    width: 40%;
  }
  .education {
    width: 40%;
  }
}
